1. Find the length of a string
python

In [ ]:
s = input("Enter a string: ")
print("Length of string:", len(s))

Enter a string: Gitesh
Length of string: 6

2. Display data type of a number

In [ ]:
num = input("Enter a number: ")
print("Data type:", type(eval(num)))

Enter a number: 10
Data type: <class 'int'>

3. Sum of two numbers using type conversion

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Sum:", a + b)

Enter first number: 12
Enter second number: 12
Sum: 24

4. Maximum of two numbers

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Maximum:", max(a, b))

Enter first number: 14
Enter second number: 5
Maximum: 14

5. String in uppercase

In [ ]:
s = input("Enter a string: ")
print("Uppercase:", s.upper())

Enter a string: gitesh
Uppercase: GITESH

6. First and last character of a string

In [ ]:
s = input("Enter a string: ")
print("First:", s[0], "Last:", s[-1])

Enter a string: Gitesh
First: G Last: h

7. Check if string is empty

In [ ]:
s = input("Enter a string: ")
print("Empty?" , s == "")

Enter a string:
Empty? True

8. Count characters without len()

In [ ]:
s = input("Enter a string: ")
count = 0
for ch in s:
    count += 1
print("Character count:", count)

Enter a string: Gitesh
Character count: 6

9. Reverse a string

In [ ]:
s = input("Enter a string: ")
print("Reversed:", s[::-1])

Enter a string: Gitesh
Reversed: hsetiG

10. Palindrome check

In [ ]:
s = input("Enter a string: ")
print("Palindrome?" , s == s[::-1])

Enter a string: Yash
Palindrome? False

11. Convert to lowercase and uppercase

In [ ]:
s = input("Enter a string: ")
print("Lowercase:", s.lower())
print("Uppercase:", s.upper())

Enter a string: Gitesh
Lowercase: gitesh
Uppercase: GITESH

12. Remove extra spaces

In [ ]:
s = input("Enter a string: ")
print("Trimmed:", s.strip())

Enter a string: Gitesh
Trimmed: Gitesh

13. Replace a word

In [ ]:
msg = "I love Java"
print (msg.replace("java","python"))

I love Java

14. Position of a word

In [ ]:
sentence = input("Enter a sentence: ")
word = input("Enter word: ")
print("Position:", sentence.find(word))

Enter a sentence: I love java
Enter word: java
Position: 7

15. Split sentence into words

In [ ]:
sentence = input("Enter a sentence: ")
print("Words:", sentence.split())

Enter a sentence: Hello my friends
Words: ['Hello', 'my', 'friends']

16. Username without spaces + count

In [ ]:
username = input("Enter username: ")
cleaned = username.replace(" ", "")
print("Cleaned:", cleaned)
print("Character count:", len(cleaned))

Enter username: Yash
Cleaned: Yash
Character count: 4

17. Check if email contains

In [ ]:
email = input("Enter email ID: ")
print("Contains '@'?", "@" in email)

Enter email ID: gitesh554@
Contains '@'? True

18. Count vowels in a string

In [ ]:
s = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0
for ch in s:
    if ch in vowels:
        count += 1
print("Number of vowels:", count)

Enter a string: Hello my friends how are you
Number of vowels: 9

19. Count words in a sentence

In [ ]:
sentence = input("Enter a sentence: ")
words = sentence.split()
print("Word count:", len(words))

Enter a sentence: How was your anudip cource going
Word count: 6

20. Display each character one by one

In [ ]:
s = input("Enter a string: ")
for ch in s:
    print(ch)

Enter a string: Anudip
A
n
u
d
i
p