In [ ]:
age= int (input("Enter the age"));
if age >=18:
  print("you can vote")
else:
  print("you can not vote")

Enter the age21
you can vote

In [ ]:
a= int (input("Enter the marks"));
if (a>40):
  print("Student is pass")
else:
  print("Student is fail")

Enter the marks45
Student is pass

In [ ]:
for i in range (10):
  print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range (2,10):
  print (i)

2
3
4
5
6
7
8
9

In [ ]:
for i in range (1,6):
  marks=int(input("Student name"))
  if marks>=40:
   print("Student is pass")
  else:
   print("Student is fail")

Student name20
Student is fail
Student name45
Student is pass
Student name12
Student is fail
Student name55
Student is pass
Student name87
Student is pass

Q.1 Write a program to tell whether the number are negative or positive

In [ ]:
num=int(input("Enter an Integer"))
if num >= 0:
  print(" Number is Positive")
else:
  print("Number is Negative")

Enter an Integer-12
Number is Negative

#Q.2 Write a program to number is even or odd

In [ ]:
num=int(input("Enter an Integer"))
if num%2==0:
  print("Number is Even")
else:
  print("Number is Odd")

Enter an Integer444
Number is Even

Q.3 Write a program to find the greater number between two numbers entering by user.

In [ ]:
num1=int(input("Enter Number"))
num2=int(input("Enter Number"))
if num1>num2:
  print("Number is Greater")
else:
  print("Number is smaller")

Enter Number45
Enter Number56
Number is smaller

Q.4 Write a program to check the whether a number is divisible by both 5 and 10

In [ ]:
num=int(input("Enter the number"))
if num%5==0 and num%10==0:
  print("The Number is divisible 5 and 10")
else:
  print("The number is not divisible by 5 and 10")

Enter the number87
The number is not divisible by 5 and 10

Q.5 Write a progem to check whether the given character is a vowels or a consonant

In [ ]:
chr=input("Enter the character : ").lower()
if chr in "aeiou":
  print("The character is vowels..!")
else:
  print("The character is consonant")

Enter the character : gitesh
The character is consonant

Q.6 Write a program to using calculator electricity bill based on units consumed

In [ ]:
unit_price = 7
bill=int(input("Enter the bill"))
print(unit_price*bill)

Enter the bill1200
8400

9. Write a program to check whether a year is a leap year or not.

In [ ]:


year = int(input("Enter a year: "))

if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter a year: 2000
2000 is a leap year.

10. Write a program to calculate bonus for an employee based on salary.

In [ ]:
salary = float(input("Enter employee salary: "))

if salary <= 10000:
    bonus = salary * 0.20
elif salary <= 50000:
    bonus = salary * 0.15
else:
    bonus = salary * 0.10

print("Salary:", salary)
print("Bonus:", bonus)
print("Total Pay (Salary + Bonus):", salary + bonus)

Enter employee salary: 45000
Salary: 45000.0
Bonus: 6750.0
Total Pay (Salary + Bonus): 51750.0

11. Write a program to print numbers from 1 to 10 using a loop.

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

12. Write a program to print all even numbers between 1 and 50.

In [ ]:


for i in range(2, 51, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

13. Write a program to calculate the sum of first 10 natural numbers.

In [ ]:


sum = 0
for i in range(1, 11):
    sum += i

print("Sum of first 10 natural numbers is:", sum)

Sum of first 10 natural numbers is: 55

14. Write a program to print the multiplication table of a number entered by the user.

In [ ]:
num = int(input("Enter a number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number: 8
Multiplication Table of 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

15. Write a program to count the number of digits in a given number.

In [ ]:
num = int(input("Enter a number: "))
count = 0


if num == 0:
    count = 1
else:
    while num != 0:
        num //= 10
        count += 1

print("Number of digits:", count)

Enter a number: 12
Number of digits: 2

16. Write a program to check pass or fail for 5 students using loop and condition

In [ ]:

for i in range(1, 6):
    marks = int(input(f"Enter marks of student {i}: "))

    if marks >= 40:
        print(f"Student {i}: Pass")
    else:
        print(f"Student {i}: Fail")

Enter marks of student 1: 35
Student 1: Fail
Enter marks of student 2: 87
Student 2: Pass
Enter marks of student 3: 45
Student 3: Pass
Enter marks of student 4: 55
Student 4: Pass
Enter marks of student 5: 12
Student 5: Fail

17. Write a program to print numbers from 1 to 100 and display Even or Odd for each.

In [ ]:
for i in range(1, 101):
    if i % 2 == 0:
        print(i, "is Even")
    else:
        print(i, "is Odd")

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even
11 is Odd
12 is Even
13 is Odd
14 is Even
15 is Odd
16 is Even
17 is Odd
18 is Even
19 is Odd
20 is Even
21 is Odd
22 is Even
23 is Odd
24 is Even
25 is Odd
26 is Even
27 is Odd
28 is Even
29 is Odd
30 is Even
31 is Odd
32 is Even
33 is Odd
34 is Even
35 is Odd
36 is Even
37 is Odd
38 is Even
39 is Odd
40 is Even
41 is Odd
42 is Even
43 is Odd
44 is Even
45 is Odd
46 is Even
47 is Odd
48 is Even
49 is Odd
50 is Even
51 is Odd
52 is Even
53 is Odd
54 is Even
55 is Odd
56 is Even
57 is Odd
58 is Even
59 is Odd
60 is Even
61 is Odd
62 is Even
63 is Odd
64 is Even
65 is Odd
66 is Even
67 is Odd
68 is Even
69 is Odd
70 is Even
71 is Odd
72 is Even
73 is Odd
74 is Even
75 is Odd
76 is Even
77 is Odd
78 is Even
79 is Odd
80 is Even
81 is Odd
82 is Even
83 is Odd
84 is Even
85 is Odd
86 is Even
87 is Odd
88 is Even
89 is Odd
90 is Even
91 is Odd
92 is Even
93 is Odd
94 is Even
95 is Odd
96 is Even
97 is Odd
98 is Even
99 is Odd
100 is Even

18. Write a program to find how many numbers between 1 and 50 are divisible by 3.

In [ ]:
count = 0
for i in range(1, 51):
    if i % 3 == 0:
        count += 1

print("Total numbers divisible by 3 between 1 and 50:", count)

Total numbers divisible by 3 between 1 and 50: 16

19. Write a program to take marks of 5 students and calculate the average

In [ ]:
total = 0
for i in range(1, 6):
    marks = float(input(f"Enter marks of student {i}: "))
    total += marks

average = total / 5
print("Average marks of 5 students:", average)

Enter marks of student 1: 50
Enter marks of student 2: 45
Enter marks of student 3: 87
Enter marks of student 4: 95
Enter marks of student 5: 68
Average marks of 5 students: 69.0

20. Write a program to take 5 numbers from the user and count positive and negative numbers.

In [ ]:
positive_count = 0
negative_count = 0

for i in range(1, 6):
    num = int(input(f"Enter number {i}: "))
    if num > 0:
        positive_count += 1
    elif num < 0:
        negative_count += 1

print("Total Positive numbers:", positive_count)
print("Total Negative numbers:", negative_count)

Enter number 1: 54
Enter number 2: -8
Enter number 3: 69
Enter number 4: -87
Enter number 5: -12
Total Positive numbers: 2
Total Negative numbers: 3