1. Write a program to store 5 student marks in a list and display them.

In [ ]:
marks = []
for i in range(5):
  m=int(input("Enter the marks"))
  marks.append(m)
print(marks)

Enter the marks45
Enter the marks55
Enter the marks80
Enter the marks0
Enter the marks60
[45, 55, 80, 0, 60]

2. Write a program to find the largest number in a list.

In [ ]:
numbers=[55,85,65,89,90]
print(max(numbers))

90

3. Write a program to count how many times a particular element appears in a list.

In [ ]:
number=[55,45,55,45,69,69,99,87,63]
print(number.count(55))

2

4. Write a program to add a new element to a list and remove an existing element.

In [ ]:

numbers = [10, 20, 30, 40, 50]
print("Original list:", numbers)
numbers.append(60)
print("After adding 60:", numbers)
numbers.remove(30)
print("After removing 30:", numbers)

Original list: [10, 20, 30, 40, 50]
After adding 60: [10, 20, 30, 40, 50, 60]
After removing 30: [10, 20, 40, 50, 60]

5. Write a program to calculate the sum of all elements in a list.

In [ ]:

numbers = [10, 20, 30, 40, 50]
total = sum(numbers)
print("Sum of list elements:", total)
total = 0
for num in numbers:
    total += num
print("Sum using loop:", total)

Sum of list elements: 150
Sum using loop: 150

6. Write a program to create a tuple of 5 numbers and display the second element.

In [ ]:

numbers = (10, 20, 30, 40, 50)
print("The second element is:", numbers[1])

The second element is: 20

7. Write a program to check whether an element exists in a tuple.

In [ ]:

numbers = (10, 20, 30, 40, 50)

element = 30
if element in numbers:
    print(f"{element} exists in the tuple.")
else:
    print(f"{element} does not exist in the tuple.")

30 exists in the tuple.

8. Write a program to convert a tuple into a list.

In [ ]:

numbers = (10, 20, 30, 40, 50)
numbers_list = list(numbers)
print("Tuple:", numbers)
print("Converted List:", numbers_list)

Tuple: (10, 20, 30, 40, 50)
Converted List: [10, 20, 30, 40, 50]

9. Write a program to find the length of a tuple.

In [ ]:

my_tuple = (10, 20, 30, 40, 50)
tuple_length = len(my_tuple)
print("The length of the tuple is:", tuple_length)

The length of the tuple is: 5

10. Write a program to explain why tuple is immutable with an example.

In [ ]:

my_tuple = (1, 2, 3, 4, 5)

print("Original tuple:", my_tuple)
try:
    my_tuple[2] = 99
except TypeError as e:
    print("Error occurred:", e)
print("Tuple after modification attempt:", my_tuple)

Original tuple: (1, 2, 3, 4, 5)
Error occurred: 'tuple' object does not support item assignment
Tuple after modification attempt: (1, 2, 3, 4, 5)

11. Write a program to store student details using a dictionary and display them.

In [ ]:

student = {
    "Name": "Rahul",
    "Age": 20,
    "Roll Number": "3131",
    "Course": "Computer Science",
    "Marks": 85
}
print("Student Details:")
for key, value in student.items():
    print(f"{key}: {value}")

Student Details:
Name: Rahul
Age: 20
Roll Number: 3131
Course: Computer Science
Marks: 85

12. Write a program to add a new key-value pair in a dictionary.

In [ ]:
student ={
    "Name":"Gitesh",
    "Age":20,
    "Roll_No":"CS1212",
    "Marks":89
}
print("Original dictionary:")
print("student")
student["Course"] = "Computer Science"
print("\nDictionary after adding new key-value pair:")
print(student)

Original dictionary:
student

Dictionary after adding new key-value pair:
{'Name': 'Gitesh', 'Age': 20, 'Roll_No': 'CS1212', 'Marks': 89, 'Course': 'Computer Science'}

13. Write a program to update the value of an existing key in a dictionary.

In [ ]:

student = {
    "Name": "Rahul Sharma",
    "Age": 20,
    "Roll Number": "CS101",
    "Course": "Computer Science"
}

print("Original Dictionary:")
print(student)
student["Age"] = 21

print("\nDictionary after updating the value of 'Age':")
print(student)

Original Dictionary:
{'Name': 'Rahul Sharma', 'Age': 20, 'Roll Number': 'CS101', 'Course': 'Computer Science'}

Dictionary after updating the value of 'Age':
{'Name': 'Rahul Sharma', 'Age': 21, 'Roll Number': 'CS101', 'Course': 'Computer Science'}

14. Write a program to check whether a key exists in a dictionary.

In [ ]:
student = {
    "Name": "Rahul Sharma",
    "Age": 20,
    "Roll Number": "CS101",
    "Course": "Computer Science"
}

key_to_check = "Age"

if key_to_check in student:
    print("Key '{key_to_check}' exists in the dictionary with value: {student[key_to_check]}")
else:
    print("Key '{key_to_check}' does not exist in the dictionary.")

Key '{key_to_check}' exists in the dictionary with value: {student[key_to_check]}

15. Write a program to print all keys and values of a dictionary.

In [ ]:

student = {
    "Name": "Rahul Sharma",
    "Age": 20,
    "Roll Number": "CS101",
    "Course": "Computer Science",
    "Marks": 85
}

print("All Keys and Values in the Dictionary:")
for key, value in student.items():
    print(f"{key}: {value}")

All Keys and Values in the Dictionary:
Name: Rahul Sharma
Age: 20
Roll Number: CS101
Course: Computer Science
Marks: 85

16. Write a program to create a set with duplicate values and display the output.

In [ ]:

my_set = {10, 20, 30, 20, 40, 10, 50}
print("Set with duplicate values removed automatically:")
print(my_set)

Set with duplicate values removed automatically:
{50, 20, 40, 10, 30}

17. Write a program to add a new element to a set.

In [ ]:

my_set = {10, 20, 30, 40}

print("Original Set:", my_set)

my_set.add(50)

print("Set after adding new element:", my_set)

Original Set: {40, 10, 20, 30}
Set after adding new element: {40, 10, 50, 20, 30}

18. Write a program to remove an element from a set.

In [ ]:

my_set = {10, 20, 30, 40, 50}

print("Original Set:", my_set)
my_set.remove(30)

print("Set after removing 30:", my_set)

my_set.discard(50)

print("Set after discarding 50:", my_set)
try:
    my_set.remove(100)
except KeyError as e:
    print("Error occurred while removing 100:", e)

my_set.discard(100)
print("Set after discarding 100:", my_set)

Original Set: {50, 20, 40, 10, 30}
Set after removing 30: {50, 20, 40, 10}
Set after discarding 50: {20, 40, 10}
Error occurred while removing 100: 100
Set after discarding 100: {20, 40, 10}

19. Write a program to find the union of two sets.

In [ ]:

set1 = {10, 20, 30, 40}
set2 = {30, 40, 50, 60}

print("Set 1:", set1)
print("Set 2:", set2)

union_set = set1.union(set2)

print("\nUnion of Set 1 and Set 2:", union_set)

union_set_alt = set1 | set2
print("Union using | operator:", union_set_alt)

Set 1: {40, 10, 20, 30}
Set 2: {40, 50, 60, 30}

Union of Set 1 and Set 2: {40, 10, 50, 20, 60, 30}
Union using | operator: {40, 10, 50, 20, 60, 30}

20. Write a program to find the intersection of two sets.

In [ ]:

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection = set1.intersection(set2)
print("Intersection of sets:", intersection)

Intersection of sets: {4, 5}